.button {
  margin-left: -4.85em;
  margin-top: -2em;
  padding: 0 0.38em;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-size: 1.875rem;
  line-height: 1.23em;
  background-color: #50c8d8a1;
}

.button:hover {
  background-color: #22e3fd90;
  cursor: pointer;
}

@media screen and (max-width: 1900px) {
  .button {
    margin-left: -4em;
  }
}

@media screen and (max-width: 1850px) {
  .button {
    margin-left: -0.5em;
  }
}

@media screen and (max-width: 950px) {
  .button {
    margin-left: 0.5em;
  }
}
