.footer {
  font-family: lato;
  height: 80px;
  width: 100%;
  top: 0;
  margin-top: 11.5em;
  position: sticky;
  background: #464646;
  display: flex;
  justify-content: center;
}

.footer-text {
  margin-top: 1.6em;
  margin-left: 1.3em;
  font-size: 16px;
  font-weight: 600;
  color: #cccccc;
}
@media screen and (max-width: 1000px) {
  .footer {
    height: 55px;
    margin-top: 1em;
  }

  .footer-text {
    font-size: 0.9em;
  }
}
